.container {
    ul {
        padding: 0;
        li {
            padding: 3px 5px;
            border: solid 1px #eee;
            cursor: pointer;
            span {
                color: #369;
            }
        }
    }
    
    h3 {
        padding: 0 6px;
        margin: 5px 0;
    }    
}
