.container {
    height: 100%;
    margin: 0em;

    ul {
        padding: 0;
        min-height: 140px;
        height: 140px;
        margin: 0em;
        overflow-y: auto;

        li {
            padding: 3px 5px;
            span {
                color: #b00;
                margin-right: 5px;
            }
        }
    }
    
    h3 {
        padding: 0 6px;
        margin: 3px 0;
        span {
            color: #369;
        }
    }    
}
